doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.0/es6-shim.js')
    script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en')

    base(href="/")

  body
    block content